<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
    </startup>

	<connectionStrings>
		<add name="GAP_Prod" connectionString="Data Source=192.168.50.152; Initial Catalog=GAP_PROD; User ID=sapuser;password=Skatys2021"
            providerName="System.Data.SqlClient" />
		<add name="GAP_ProdC" connectionString="iEw3hdY4CP/O0ik6FcNSNvavZ2bTTIAjspF0HVScrnf3CXVAJxq2qzU3bR7ROkF5EszT3sn8JqwU6wE2PMO/Pi7sdCG5sYtVGU6vYhdJZkr8244oxPgzBG6hmqaQMYAjrxg9Ft40njcyLlfpJWYZbCg5IVQF2t/oSSwO5SVq5Bl9Sev5LgJE0v74wUlwIEHcaCqYx+7CmtksBddt8OaxCNSwMgtu1EboogGC/xPBo2fQJLDit1lUcsYcNDTkzncU"
            providerName="System.Data.SqlClient" />
	</connectionStrings>
</configuration>
